*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}
.wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    padding: 12px 12px;
    margin-bottom: 38px;
}
.wrapper-strong {
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-left: 300px;
}
.wrapper-span {
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
}
.select{
    background-color: black;
    color: white;
    border: none;
}
.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;
}
.header-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    transition: all 0.3s ease;
}
.header-item:hover{
    cursor: pointer;
    text-decoration: underline;
}
.header-item-wrapper{
    display: flex;
    gap: 48px;
}
.header-inp{
    width: 243px;
    padding: 10px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 12px;
    outline: none;
    transition: all 0.3s ease;
}
.header-inp:focus{
    box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.6);
}
.inp-wrapper{
    position: relative;
}
.inp-img{
    position: absolute;
    top: 9px;
    left: 193px;
}
.profile-section {
    margin-top: 80px;
}
.profile-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.profile-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.profile-sub-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.item-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
}
.text-item{
    margin-left: 40px;
    color: #DB4444;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.profile-form {
    width: 800px;
    padding: 20px;
}
.wrapper-form{
    display: flex;
    justify-content: space-between;
}
.form-title {
    margin-bottom: 16px;
    color: #DB4444;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.form-span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.form-input {
    width: 300px;
    padding: 13px 0;
    padding-left: 10px;
    outline: none;
    border: none;
    background-color: #F5F5F5;
    border-radius: 8px;
}
.wrappers{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-wrapper{
    display: flex;
    gap: 20px;
}
.pass{
    width: 620px;
    margin-bottom: 10px;
}
.form-cancel {
    width: 200px;
    background-color: transparent;
    border: none;
    margin-left: 210px;
}
.form-save {
    width: 200px;
    padding: 16px 0;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #DB4444;
}